.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  /* .row{
    height: 340px;
    margin-top: 0%;
    margin-left: 0%;
  } */

  /* .col-sm-4{
    height: 200px;
  } */

  .panel-panel-primary {
    height: 200px;
  }

  .panel-body{
    width: 250px;
    height: 200px;
  }

  .header-fixed {
    position: fixed;
    box-shadow: black ;
    z-index: 9;
    left: 0%;
    right: 0%;
    top: 0%;
  }

  .container{
margin-top: 5%;
width: 98%;

  }